a {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    color: #B1663C;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

nav li a[href="login.html"] {
    font-weight: 700;
}


footer li {
    font-size: 14px;
}

main {
    flex: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}