/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

.edit-banner {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 40px;

	background-color: black;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}


body.connected #portfolio h2#project {
	margin-top: 89px;
	margin-bottom: 92px;
}

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#portfolio h2#project,
#portfolio .modal-link {
	display: inline-flex;
	align-items: center;
}


.portfolio-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 31px;
}

.modify {
	display: flex;
	align-items: center;
	gap: 11px;
	cursor: pointer;
	font-size: 14px;
	color: black;
	text-decoration: none;
}

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: inherit;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filter-button {
	background-color: #fff;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 8px 16px;
	color: #1D6154;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 51px;
	margin-bottom: 50px;
	font-size: 16px;
	font-family: "syne";
}

.filter-button:hover {
	background-color: #1D6154;
	color: #fff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background-color: white;
	padding: 24px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
}

.modal-toggle {
	display: none;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #0000004D;
	justify-content: center;
	align-items: center;
}

.modal:target {
	display: flex;
}

.modal-content {
	position: relative;
	background-color: white;
	border-radius: 10px;
	width: 630px;
	height: 688px;
	max-width: 630px;
	position: relative;
}

.modal h2 {
	color: black;
	font-size: 26px;
	display: flex;
	justify-content: center;
	margin-top: 60px;
	font-family: 'Work Sans';
	font-weight: 400;
}

.close {
	position: absolute;
	top: 26px;
	right: 30px;
	cursor: pointer;
}

.gallery-item {
	position: relative;
}

.gallery-item img {
	width: 76px;
	margin-bottom: 20px;
}

.fa-trash-can {
	width: 17px;
	height: 17px;
	color: white;
	font-size: 10px;

}

.trash {
	position: absolute;
	top: 6px;
	right: 5px;
	cursor: pointer;
	background-color: black;
	border-radius: 2px;
}

.trash i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 46px;
	margin-left: 105px;
	margin-right: 105px;
	gap: 9px;
}

.modal-gallery hr {
	width: 420px;
	margin-top: 67.3px;
}

.add-photo-btn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	border: none;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	margin-top: 31px;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}

.button-photo {
	display: flex;
	justify-content: center;
}

.arrow {
	position: absolute;
	margin-top: 26px;
	margin-left: 30px;
}

.modal-add-photo {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.add-photo {
	background-color: #E8F1F6;
	margin-top: 36px;
	margin-bottom: 30px;
	width: 420px;
	height: 169px;
	border-radius: 3px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* centre le bouton et le texte */
	overflow: hidden;
	/* empêche l'image de dépasser */
	position: relative;
	/* utile si tu mets des éléments à l'intérieur */
}

.add-photo img.image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	margin: 0;
}

.add-photo.image-loaded img.image {
	display: block;
	/* afficher l'image après import */
}

.add-photo.image-loaded .photo-add,
.add-photo.image-loaded .format {
	display: none;
	/* cacher bouton + texte quand image ajoutée */
}

.image {
	margin-top: 22.5px;
}

.photo-add {
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	margin-top: 12.88px;
	width: 173px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.format {
	margin-top: 7px;
	font-size: 10px;
}


#title {
	display: flex;
	margin-top: 10px;
	margin-bottom: 21px;
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

select {
	display: flex;
	margin-top: 10px;
	width: 420px;
	height: 51px;
	box-shadow: 0px 4px 14px 0px #00000017;
}

#category {
	-webkit-appearance: none;
	appearance: none;
	background-image: url('/assets/icons/chevron.png');
	background-repeat: no-repeat;
	background-position: right 19.82px center;
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.modal-add-photo hr {
	width: 420px;
	margin-top: 47px;
}

.validation {
	background-color: #A7A7A7;
	color: white;
	font-family: 'Syne';
	font-size: 14px;
	border-radius: 60px;
	border: none;
	margin-top: 32px;
	width: 237px;
	height: 36px;
	cursor: pointer;

}

.button-validation {
	display: flex;
	justify-content: center;
	align-items: center;
}